main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

h1, h2, p {
    text-align: center;
}

.Card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card section {
    width: 100%;
    max-width: 600px;
}

.Card .Card-Title {
    text-align: center;
    color: #ffbd59;
}

.btn-1 {
    font-size: 1.2rem;
    padding: 10px 10px;
    background-color: #ffbd59;
    border: 2px solid #303030;
    color: #303030;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px; 
}

.btn-1:hover {
    background-color: #303030;
    border-color: #ffbd59;
    color: #ffbd59;
}

