main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 112px);
}

.catalogo {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #ffbd59;
    border: 1px solid #ffbd59;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalogo h1 {

    margin-bottom: 20px;
}

.ajuda-conteudo {
    margin-top: 20px;
}

.ajuda-conteudo h2 {

    margin-bottom: 10px;
}

.ajuda-conteudo ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ajuda-conteudo li {
    margin-bottom: 5px;
}
