.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
}

.bgSection {
    background: #ffff url("../../assets/img/404-img.png") no-repeat right top;
    /* margin-right: 100px; */
    padding: 10rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-logo {
    border-radius: 50%;
    width: 150px;
    height: 150px; 
}

.bgSection h1 {
    font-size: 3rem;
    color: #343a40;
}

.bgSection p {
    font-size: 1.5rem;
    color: #6c757d;
}

.bgSection .btn {
    margin-top: 1rem;
}


