  .footer {
    background-color: #303030; /* Cor de fundo do footer */
    color: #ffbd59; /* Cor do texto do footer */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Para garantir que o footer esteja sobre outros elementos */
  }
  