* {
  box-sizing: inherit;
}

body, html {
  background-color: #f7f4e5;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


h1 {
  font-size: 30px;
  font-weight: 700;
}

h2,
h3 {
  font-size: 20px;
  font-weight: 600;
}

p,
a,
span {
  font-size: 16px;
  font-weight: 400;
}

